* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
	font-family: sans-serif;
}
body {
	min-height: 100vh;
	background-color: #03191e;
}

.board {
	width: 100%;
	gap: 1.6rem;
	display: flex;
	margin: 0 auto;
	padding: 2.4rem;
	max-width: 32rem;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
}
.board__title {
	line-height: 1;
	color: #c1cfda;
	font-size: 4.8rem;
	font-weight: bold;
}
.board__title--results {
	text-align: center;
}
.board__button {
	cursor: pointer;
	color: #c1cfda;
	line-height: 1.2;
	font-size: 2.4rem;
	padding: 1.2rem 2.4rem;
	background-color: transparent;
	border: 0.2rem solid #c1cfda;
	transition: all ease-in-out 0.2s;
}
.board__button:hover {
	color: #03191e;
	background-color: #c1cfda;
}
.board__game {
	gap: 0.8rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.board__turns {
	gap: 0.8rem;
	display: flex;
	align-items: center;
}
.board__turns .square {
	border: none;
	width: 3.2rem;
	height: 3.2rem;
	line-height: 1.2;
	font-size: 2.4rem;
	pointer-events: none;
}
.board__text {
	line-height: 1.2;
	color: #c1cfda;
	font-size: 2.4rem;
}

.square {
	width: auto;
	height: 8rem;
	display: grid;
	line-height: 1;
	cursor: pointer;
	color: #c1cfda;
	font-size: 4.8rem;
	place-items: center;
	border: 0.2rem solid #c1cfda;
	transition: all ease-in-out 0.2s;
}
.square--selected {
	color: #c1cfda;
	background-color: #941c2f;
}
.square--checked {
	color: #03191e;
	background-color: #c1cfda;
}

.results {
	gap: 1.6rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.results .square {
	width: 3.2rem;
	height: 3.2rem;
	line-height: 1.2;
	color: #20a4f3;
	font-size: 2.4rem;
	pointer-events: none;
	border-color: #20a4f3;
}
.results__title {
	line-height: 1.3;
	color: #20a4f3;
	font-size: 3.2rem;
	font-weight: bold;
}
.results__header {
	gap: 0.8rem;
	display: flex;
	align-items: center;
}
.results__button {
	cursor: pointer;
	color: #c1cfda;
	line-height: 1.2;
	font-weight: bold;
	font-size: 2.4rem;
	padding: 1.2rem 2.4rem;
	background-color: transparent;
	border: 0.2rem solid #c1cfda;
	transition: all ease-in-out 0.2s;
}
.results__button:hover {
	color: #03191e;
	background-color: #c1cfda;
}
